.text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /*顯示行數超過兩行自動隱藏*/
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.messageImage {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    border: 3px solid white;
}
