 .nav-tabs .nav-item .nav-link {
            min-width: 120px;
            text-align: center;
            border: 1px solid #e6e6e6;
            color: #232323;
            background: #fff;
            padding: 5px;
        }

        .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
            border-color: #e9ecef #e9ecef #dee2e6;
            background: #204d74;
            color: #fff;
        }

        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
            color: #ffffff;
            background-color: #204d74;
            border-color: #dee2e6 #dee2e6 #fff;
        }

        .c_dropdown {
            position: relative;
            display: inline-block;
            padding: .4rem .6rem;
            border: 1px solid #e6e6e6;
            background: #fff;
            border-radius: 5px;
            white-space: nowrap;
        }

        .c_dropdown:hover {
            color: #ffffff;
            background-color: #204d74;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #ffffff;
            min-width: 130px;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
            padding: 12px 16px;
            z-index: 999;
            border-radius: 5px;
            border: 1px solid #ededed;
            right: 0px;
            top: 100%;
        }

        .c_dropdown:hover .dropdown-content {
            display: block;
        }

        .c_dropdown ul {
            margin: 0px;
            padding: 0px;
        }

        .c_dropdown .nav-link {
            padding: 5px;
        }

        .more_menu_outer {
            padding: 0px;
        }

        .more_menu_outer {
            padding: 0px;
        }

        .more_menu_outer li {
            list-style-type: none;
        }
        #tab_menu_initial {
            margin-left: 1em;
        }

        .neworderleft {
            /*border: solid 1px #ccc;*/
            float: left;
            width: 50%;
            height: 80%;
            margin-top: 1em;
            overflow-y: hidden;
        }
        .neworderright {
          /*border-right: solid 1px #ccc; */
            float: left;
            width: 50%;
            height: 600px;
            margin-top: 1em;
            overflow-y: hidden;
        }
        .neworderdetailleft {
/*             border-right: solid 1px #ccc; */
            float: left;
            height: 50%;
            width: 60%;
            overflow-y: hidden;
        }

        .neworderdetailright {
            /*border: solid 1px #ccc;*/
            float: right;
            height: 50%;
            overflow-y: hidden;
            width: 40%;
        }
        .neworderdetailbottomright {
            /*border: solid 1px #ccc;*/
            width: 70%;
            height: 100%;
        }

        .neworderdetailbottomleft {
            /*border: solid 1px #ccc;*/
            width: 70%;
            height: 100%;
        }

        table tbody {
            display: block;
            height: 22em;
            overflow-y: scroll;
        }

        #newordertbody {
            display: block;
            height: 33em;
            overflow-y: scroll;
        }

        #making {
            display: block;
            height: 33em;
            overflow-y: scroll;
        }

        #search {
            display: block;
            height: 33em;
            overflow-y: scroll;
        }


        table thead,
        table tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed;
        }

        .container.bg-light {
            height: 75vh;
        }

        p > span {
            color: #D73963;
        }

        /*按鈕樣式*/
        .btnn {
            border: none; /* Remove borders */
            color: white; /* Add a text color */
            padding: 14px 28px; /* Add some padding */
            cursor: pointer; /* Add a pointer cursor on mouse-over */
        }
        /*接受*/
        .success {
            background-color: #204d74;
        }        
        .success:hover {
            background-color: #336666;
        }
        /*取消*/
        .danger {
            background-color: #D73963;
        }
        .danger:hover {
            background: #D74E39;
        }


        /* 滾動條樣式
        */
        /* width */
        ::-webkit-scrollbar {
            width: 5px;
            /*/display: none;*/
        }

        /* Track */
            ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #888;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

        /*tr選擇設定點選後背景顏色*/
        tr.active {
            background:#e6e6e7;
        }

        /*搜尋框*/
        form.example input[type=text] {
            padding: 10px;
            font-size: 14px;
            border: 1px solid grey;
            float: left;
            width: 80%;
            background: #f1f1f1;
            margin-top: 1em;
        }

        /* Style the submit button */
        .searchdiv {
            padding-left:13px;
        }
        form.example button {
            float: left;
            width: 20%;
            padding: 10px;
            background: #204d74;
            color: white;
            font-size: 14px;
            border: 1px solid grey;
            border-left: none; /* Prevent double borders */
            cursor: pointer;
            margin-top: 1em;
        }

            form.example button:hover {
                background: #336666;
            }

        /* Clear floats */
        form.example::after {
            content: "";
            clear: both;
            display: table;
        }

        #containerbox {
            margin-top: 2em;
        }

        .borderrow {
            border-left: solid 1px #ccc;
            border-right: solid 1px #ccc;
            border-bottom: solid 1px #ccc;
        }