<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>浪跡-領養預約取消通知</title>
</head>
<body style="margin:auto;">
    <div style="width: 600px; border-style: solid; border-width: thin; border-color: #dadce0; border-radius: 8px; padding: 20px; margin: 3em auto; ">
        <table style=" margin: 3em auto;">
            <thead>
                <tr>
                    <td>
                        <img src="cid:imgfile" title="lego" style="display:block; margin:auto;">
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="text-align:center">
                        <h4>親愛的 ${realName} 您好：</h4>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div style="width:400px;margin:auto">
                            <p>
                               您收到此電子郵件是因為您原定在 ${theDate} 當天至<span style="font-weight: bold;">浪跡</span>預約領養的寵物 ${thePet} 已經找到愛主，系統已經為您取消當日的預約。
                            </p>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td style=" background-color: #E0E0E0; color: #ADADAD; text-align: center; border-radius: 5px 5px 5px 5px; padding: 5px 0 5px 0; ">
                        -我的改變你看不見-  @浪跡
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</body>
</html>