body {
    
    background-color: rgb(240, 245, 240);
}

@font-face {
    font-family: AA;
    src: url(../font/HanyiSentyBubbleTea.ttf);
}

* {
    font-family: AA;
}




a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

    li a {
        font-family: AA;
        font-size: 20px;
    }
   
    
    #topbar {
        overflow: hidden;
    }
    
    .sticky{
        position:fixed;
        top:0;
        width:100%;
        background-color: rgba(0,0,0,.8);
        height: 40px;
        z-index: 100;
        transition: 1s;
        
    }
    .sticky a{
        color:white;
    }
    
    .col-12 li {
        float: right;
        height: 60px;
        padding-right:114px;
        
    }




/* 2 */
.papper li {
    float: left;
    height: 460px;
    width: 332px;
    margin: 10px;
    font-family: AA;
    margin: 20px;
}

    .papper li .p1 {
        height: 121px;
    }

li p {
    font-size: 26px;
    padding: 0 20px;
}

h3,
h2 {
    text-align: center;
    height: 60px;
}

.papper li .backpic {
    background-image: url(../image/11.jfif);
    background-size: cover;
}

.papper li .backpic2 {
    background-image: url(../image/13.jfif);
    background-size: cover;
    margin-right: 0px;
}

.btn {
    height: 120px;
    width: 180px;
    font-size: 25px;
    opacity: .95;
}

.btn .btn-dark:hover{
    color:#000000;
    background-color:lightgray;
}
